---
layout: single
---

{{ content }}

<style>
    .staff-image {
        float: left;
        height: 200px;
        padding: 1%;
    }

    .staff-info {
        padding-top: 1%;
    }

    .staff-position {
        font-size: 15px !important;
    }

    .staff-name {
        font-size: 25px !important;
        font-weight: bold;
        margin: 0px !important;
    }

    hr {
        clear: both;
        border: 0px;
        padding: 0%;
    }
    
</style>

<div class="staff-list">
    {% for person in site.staff %}
    <div class="staff-card">
        {% if person.image %}
            <img src="{{person.image | relative_url }}" alt="{{ person.name }}" itemprop="image" class="staff-image">
        {% endif %}

        <div class="staff-info">
            <p class="staff-name">{{ person.name }}</h3>
            <p class="staff-position">{{ person.position }}</p>
            <p class="staff-bio">{{ person.bio | markdownify }}</p>
        </div>
        
        {% if person.socials %}
        <div class="social-links-staff">
            {% if person.facebook %}
                <a href="{{person.facebook}}" class="btn btn--primary">Facebook</a>
            {% endif %}
            {% if person.twitter %}
                <a href="{{person.twitter}}" class="btn btn--primary">Twitter</a>
            {% endif %}
            {% if person.instagram %}
                <a href="{{person.instagram}}" class="btn btn--primary">Instagram</a>
            {% endif %}
            {% if person.reddit %}
                <a href="{{person.reddit}}" class="btn btn--primary">Reddit</a>
            {% endif %}
            {% if person.github %}
                <a href="{{person.github}}" class="btn btn--primary">Github</a>
            {% endif %}
            {% if person.soundcloud %}
                <a href="{{person.soundcloud}}" class="btn btn--primary">SoundCloud</a>
            {% endif %}
            {% if person.mixcloud %}
                <a href="{{person.mixcloud}}" class="btn btn--primary">Mixcloud</a>
            {% endif %}
            {% if person.youtube %}
                <a href="{{person.youtube}}" class="btn btn--primary">YouTube</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="reset">
        <br>
    </div>
    {% endfor %}
</div>
